/*
Colores
    Background: #333
    Tarjetas
        Orange: hsl(31, 77%, 52%)
        Cyan: hsl(184, 100%, 22%)
        Dark cyan: hsl(179, 100%, 13%)
    
    Texto
        Blanco al 0.75 de opacidad
Fuentes de la página
    Títulos
        https://fonts.google.com/specimen/Big+Shoulders+Display
        Estilo 600
    Textos
        https://fonts.google.com/specimen/Lexend+Deca
        Estilo 400
*/

*{
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: rgba(255 255 255 / 0.75);
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  text-align: center;

}

.card__text--highestcase{
  text-transform: uppercase;
}

.cards{
  margin:100px auto;
  width: 80%;
  font-size: 0;

}

.card{
  position: relative;
  display:inline-block;
  padding-top:30px;
  padding-left: 20px;
  margin-left:0px;
  margin-right: 0px;
  width:250px;
  height: 400px;
  text-align: left;
  font-size: 1rem;
}
.card-orange{
  background-color: hsl(31, 77%, 52%);
}
.card-blue{
  background-color: hsl(184, 100%, 22%);
}
.card-green{
  background-color:hsl(179, 100%, 13%);
}

.card__title{
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 600;
  font-size: 1.7rem;
}
.card__description{
  font-size: 0.75rem;
  margin-top: 1em;
  width:150px;
}

.card__footer{
  position:absolute;
  bottom:30px;
  width:100%;
  text-align: center;
  margin-bottom: 1em;
  text-align: left;
}

.card__cta{
  background-color: #fff;
  padding:1em 2.7em;
  border-radius: 2em;
  text-decoration: none;
  font-size: 0.75em;
}

.card__cta--orange{
  color:hsl(31, 77%, 52%)
}
.card__cta--blue{
  color:hsl(184, 100%, 22%);
}
.card__cta--green{
  color:hsl(179, 100%, 13%);
}